[role="article"] {
    border-bottom: 2px solid #ccc;
}

[role="article"] {
    padding: 1rem;
    min-height: 12rem;
    overflow: hidden;
}

[role="article"] img {
    width: 100%;
    transform: translateY(-40%);
}

[role="article"] > img {
    width: 30%;
    float: left;
    padding: 0 1rem 1rem 0;
    transform: translateY(0%);
}

[role="article"] figure {
    height: 10rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

[role="article"] footer {
    font-size: .75rem;
    text-align: right;
    margin-top: 1em;
}