[role="navigation"] {
    padding: 1rem;
    background-color: #f4f4f4;
}

[role="navigation"] ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    font-weight: 600;
}

[role="navigation"] ul li {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: .5rem 1rem;
}

[role="navigation"] ul li a {
    color: #000;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

[role="navigation"] ul li a:target {
    border: 2px solid #d4d4d4;
    background-color: #e5eecc;
}

[role="navigation"] ul li div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    font-weight: 600;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

[role="navigation"] ul ul {
    display: none;
}

[role="navigation"] ul#products:target {
    display: block;
}

@media screen and (min-width: 30rem) {
    [role="navigation"] ul {
        flex-direction: row;
    }

    [role="navigation"] ul li:hover {
        background-color: #1DD8D2;
    }
}
