.step-indicator {
  padding: $padding-primary;
  background-color: $bg-color-secondary;
  color: $color-lightest;
  display: flex;
  flex-direction: column;
  transistion: $ease-fast;
  margin-bottom: 1rem;

  h1 {
    flex: 100%;
    color: $color-darkest;
    margin-bottom: 1rem;
  }

  progress[value] {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 20px;
    margin-bottom: 1rem;
  }

  progress[value]::-webkit-progress-value {
    background: #4ecdc4;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
  
  ol {
    display: flex;
    justify-content: space-around;
    color: $color-darkest;

    li {
      font-weight: 800;
      font-size: .8rem;
      list-style-type: decimal;
    }
  }
}