.main-article {
  padding: $padding-primary;
  background-color: #fff;
  flex: 100%;
  max-width: 35rem;

  &:target {
    position: fixed;
    top: 0;
    bottom: 0;

    article {
      margin: 0 auto;
    }
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90vh;
    margin-bottom: 1rem;
  }

  figure {

  }

  footer {
    font-size: .75rem;
    text-align: right;
    margin-top: 1em;
  }
}
