.chat {
  background-color: #FF7A5A;
  border-radius: .1rem;
  border-bottom: .1rem solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.27);
  width: 80%;
  max-width: 20rem;
  cursor: pointer;

  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 99;


  ol {
    display: none;
    max-height: 12rem;
    overflow-x: scroll;

    li {
      p {
        background-color: #e9ebee;
        border-radius: 5px;
        padding: $padding-primary;
      }

      footer {
        padding: .5rem;

        p {
          background-color: transparent;
          padding: 0;
          font-size: 0.625rem;
        }

        [data-status="READ"] {
          color: green;
        }

        [data-status="DELIVERED"] {
          color: orange;
        }
      }

      &:nth-child(odd) {
        text-align: right;
      }
    }
  }

  form {
    display: none;

    label {
      position: absolute;
      padding: .5rem 1rem;
    }

    textarea:focus + label {
      display: none;
      padding: .5rem;
    }
  }

  textarea {
    border-top: 1px solid #cecece;
    font-size: 1rem;
    box-sizing: border-box;
    padding: .5rem 1rem;

    &:focus {
      outline: yellowgreen solid 3px;
    }
  }

  button {
    width: 100%;
  }

  input[type=checkbox] {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    &:focus + label {
      outline: 2px solid yellowgreen;
    }
  }

  &:focus {
    outline: 2px solid yellowgreen;
  }

  > label {
    padding: 0 .5rem;
    color: #fff;
    line-height: 1.5;

    &:after {
      content: '↑';
      background-image: url('../images/cross.svg');
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 0;
      transition: .3s;
    }
  }

  :checked ~ label:after {
    content: '✘';
  }

   :checked ~ ol {
    display: block;
    background-color: #fff;
    padding: .5rem;
    margin: 0px;
  }


  :checked ~ form {
    display: flex;
  }

  :focus {
    outline-color: yellowgreen;
  }

  //@media only screen and (min-width: 28rem) {
  //  width: 50%;
  //}

  @media only screen and (min-width: 50rem) {
    width: 20rem;
  }

}