[role="status"] {
  padding: $padding-primary;
  background-color: #FF7A5A;
  color: $color-lightest;
  display: flex;
  flex-direction: column;
  transistion: $ease-fast;
  flex: 0 1 100%;
  border-bottom: .1rem solid #e0e0e0;

  h1 {
    flex: 100%;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
    font-size: 1rem;
  }

  progress {
    -webkit-appearance: none;
    appearance: none;
    background-color: #F9FAFC;
    width: 100%;
    height: .5rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
      background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
      z-index: 0;
      -webkit-background-size: 50px 50px;
      -moz-background-size: 50px 50px;
      background-size: 50px 50px;
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      -webkit-border-top-right-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
      -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      -moz-border-radius-topleft: 20px;
      -moz-border-radius-bottomleft: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
    }
  }

  progress::-webkit-progress-value {
    border-radius: .1rem 0 0 .1rem;
    background-color: green;
  }

  ol {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    li {
      font-weight: 800;
      font-size: .8rem;
      list-style-type: decimal;
      position: relative;

      &:after {
        content: '→';
        margin-left: 0rem;

        @media only screen and (min-width: 30rem) {
          margin-left: 2rem;
        }
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }

      a {
        color: #fff;
      }
    }
  }

  ol, progress {
    width: 90%;
    margin: 1rem auto 1rem auto;
  }

  a[aria-label~="current"], {
    color: #000;
    font-weight: 800;
  }

  @media only screen and (min-width: 70rem) {
    margin-bottom: 1rem;
  }

  :focus {
    outline: yellowgreen solid .2rem;
  }
}

