aside {
    width: 100%;
    display: none;
}

aside article {
    padding: 1rem;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    margin-bottom: .5rem;
}

aside article:hover h1 a {
    color: #FF7A5A;
}

aside article h1 {
    font-size: .875rem;
}

aside article h1 a {
    -webkit-transition: .3s;
    transition: .3s;
}

aside article img {
    display: none;
}

aside article p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 5rem;
}

@media only screen and (min-width: 80em) {
    aside {
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 20%;
        margin: 1rem 1rem 1rem 0;
    }
}