form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

form label {
    font-size: .875rem;
    margin-bottom: .5rem;
    font-weight: 800;
    margin-top: 0.875rem;
}

form input {
    border: none;
    padding: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}

form textarea {
    border: none;
    border-radius: 2px;
}

form input[type="checkbox"] + label:before {
    content: '\a0';
    display: inline-block;
    vertical-align: .2em;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    background-color: #fff;
    text-indent: .15em;
    line-height: .5;
}

form input[type="checkbox"]:checked + label:before {
    content: '\2713';
    background-color: #ccc;
}

form input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
