/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span
h1, h2, h3, h4, h5, h6, p,
a, img, strong, ol, ul, li,
fieldset, form, label, legend, caption,
article,
figure, figcaption, footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f4f6f0;
}
ul {
  list-style: none;
}

a {
  color: $color-darkest;
}

$padding-primary: 1rem;


ol {
  li {
    list-style: none;

    a {
      text-decoration: none;
      color: $color-darkest;
    }
  }
}

button {
   transition: .3s;
   &:hover {
     color: #fff;
     background-color: #000;
   }
 }

h1 {
  margin: 0px;
}