article {
    padding: 1rem;
}

article figure {
    margin: 0;
    width: fit-content;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

article figure img {
    max-height: 100vh;
    height: auto;
    margin-right: 2vw;
    margin-bottom: 1em;
}

article figcaption {
    -ms-flex: 1;
    flex: 1;
}

article figcaption footer {
    font-size: .8em;
    color: grey;
    margin-bottom: 2em;
}

article figcaption footer a,
article figcaption footer a:visited {
    color: grey;
}

article figcaption footer time {
    overflow: hidden;
}