@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300');

// Variables

$heading-font-family: 'Merriweather', serif;
$heading-font-weight: 500;

$fixed-font-family: 'Open Sans', sans-serif;
$fixed-font-size: 16px;
$fixed-line-height: 1.5rem;

$quiet-color: #ccccc;
$loud-color: red;


body {
  font-size: $fixed-font-size;
  font-family: $fixed-font-family;
}

h1, h2, h3, h4, h5, h6 { font-family: $heading-font-family; font-weight: $heading-font-weight; font-size: $fixed-font-size; margin-bottom: 1rem;}
h1, h2 { line-height: 1.1; }
h3, h4 { line-height: 1.3; }

p {
  line-height: 1.5;
  font-size: .875rem;
}

legend {
  font-family: "Merriweather", serif;
  margin-bottom: .5rem;
}