.primary-nav {

 ul {
   display: flex;
   flex-direction: column;
   list-style: none;
   font-weight: 600;

   li {
     transition: $ease-fast;
     padding: .5rem 1rem;

     a {
        color: $color-darkest;
        text-decoration: none;
        transition: $ease-fast;

       &:target {
         border: 2px solid #D4D4D4;
         background-color: #e5eecc;
       }
     }

     div {
       flex-direction: column;
       list-style: none;
       font-weight: 600;
       opacity: .5;
     }
   }

   ul {
     display: none;
   }

   ul#products:target {
     display: block;
   }
 }
}